# Ignore .env file containing variables
*.env

# Ignore config.js file containing variables
config.js

# Ignore .DS_Store files (macOS)
.DS_Store

# Ignore node_modules directory (Node.js)
node_modules/

# Ignore log files
*.log

# Ignore environment variable files
.env

# Ignore build directories (example for a frontend project)
dist/
build/

# Ignore IDE-specific files (VSCode, JetBrains, etc.)
.vscode/
.idea/

# Ignore OS-specific files
Thumbs.db
